<div class="bg-indigo-100 pt-5 min-h-screen">
  <p class="text-3xl text-center font-semibold;">Posts List</p>
  <p class="text-center italic">List length: {{ postsCount$ | async }}</p>
  <div
    *ngIf="(postsLoaded$ | async) === false"
    class="flex justify-center items-center h-screen"
  >
    <mat-spinner diameter="60"></mat-spinner>
  </div>
  <div *ngIf="(postsLoaded$ | async) === true" class="flex justify-center">
    <div class="grid gap-4 grid-cols-1">
      <ng-container *ngFor="let post of posts$ | async">
        <app-post [post]="post"></app-post>
      </ng-container>
      <button mat-raised-button color="primary" (click)="addPost()">
        Add a new post
      </button>
    </div>
  </div>
</div>
