<mat-card class="max-w-xl">
  <mat-card-header>
    <mat-card-title
      ><mat-icon color="primary">account_circle</mat-icon>
      {{ post.user }}</mat-card-title
    >
    <mat-card-subtitle>{{
      post.published | date : "MM/dd/yyyy"
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-icon>user</mat-icon>
  <mat-card-content>
    <div [class]="contentClasses">
      <p>
        {{ post.content }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="ViewMoreOrLessContent()">
      {{ buttonText }}
    </button>
  </mat-card-actions>
</mat-card>
